@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  background-color: #ececec;
  font-family:Montserrat, sans-serif;
  overflow-x: hidden;
}
.one {
  min-height: 110vh;
}
.header {
  background: url(./images/hero.png) center center/cover no-repeat;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.header::before {
  background: rgb(0, 0, 0, 0.5);
  content: "";
  inset: 0;
  position: absolute;
  z-index: 0;
}
nav,
.Hero-content {
  z-index: 1;
}
ul {
  list-style-type: none;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: white;
  padding: 2rem 0;
}
.navleft,
.navleft ul,
.navright {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navleft {
  width: 50%;
  justify-content: space-between;
}
.navleft ul {
  gap: 2.5rem;
}
.Hero-content {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  /* border: 1px solid red; */
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 60vh;
}
.Hero-content h1 {
  font-size: 3rem;
  width: 50%;
}
.Hero-content p {
  width: 30%;
}
button {
  padding: 1rem 2rem;
  border: transparent;
  border-radius: 0.5rem;
}
.button {
  display: flex;
  gap: 2rem;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 30vh;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  height: 100%;
  color: black;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
}
.card p,
.feature-card p,
.industry-text h2,
.industry-card p {
  width: 100%;
  color: gray;
  text-align: left;
}
.card img {
  width: 20%;
}
.card.primary,
.card.primary p {
  color: white;
}
.card h4 {
  font-size: 1.5rem;
}
.primary {
  background-color: #23a6f0 !important;
  color: white;
}

.feature {
  background-color: white;
  height: 40vh;
  display: flex;
  justify-content: center;
}
.feature-cards {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 30%;
  align-items: center;
}
.feature-card img {
  width: 20%;
}
.feature-card p {
  width: 60%;
  text-align: center;
}

.industry, .pricing {
  display: flex;
  justify-content: center;
 
  height: 85vh;

}
.industry-container, .pricing-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    /* border: 1px solid red; */
}
.industry-text, .pricing-text{
  text-align: center;
}
.industry-text h2 {
  font-size: 2rem;
  text-align: center;
  color: rgb(30, 30, 58);

}
.industry-cards{
    display: flex;
    justify-content:center;
    height: 70%;
    gap: 3.5rem;
   
    /* border: 1px solid red; */
}
.industry-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 25%;
    height: 100%;
    border-radius: .5rem;
    border: 2px solid rgb(218, 215, 215);
    padding: 2rem;
}
.industry-card img{
    width: 50%;
}
.rating{
  display: flex;
  height: 5.5%;
  gap: 0.5rem;
  justify-content: space-between;

}
.rating img{
    height: 100%;

}
.industry-card p{
    text-align: center;
    line-height: 1.2rem;
    font-weight: 500;
}
.subscribe{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.logos{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 2rem;
}
.logos img{
    height: 100%;
    width: 10%;

}

.email{
    background: linear-gradient(90deg, blue, purple);
    display: flex;
    height: 50%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.email h3{
    color: white;
    font-size: 2rem;
    width: 30%;
}
.email-input{
  background-color: white;
  border-radius: .5rem;
  width: 50%;
  display: flex;
  border: 1px solid white;
  


}
.email-input input{
  flex: 1;
  border-radius: inherit;
  border: transparent;
  padding-left: 1rem;
  
}
.email-input button{
  border-radius: 0 .5rem .5rem 0;
  color: white;
}
.pricing{
  min-height: 180vh;
}
.pricing-cards{
  display: flex;
  justify-content: center;
  height: 70%;
  align-items: flex-end;

}
.pricing-card{
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 1rem;
  align-items: center;
  background-color: white;
  border:1px solid #23a6f0;
  border-radius: .5rem;
  padding: 2rem;

}

.pricing-card h3{
  font-size: 2rem;

}
.pricing-card p{
  
  width: 60%;
  text-align: center;
 

}
.pricing-card.standard{
  background-color:rgb(30, 30, 58) ;
  color: white;
  height: 100%;
}
.price{
  position: relative;
  color: #23a6f0;
  font-size: 3rem !important;
 font-weight: 500;
}
.price::after{
  position: absolute;
  content: "$ \A per month";
 font-size: 1rem;
white-space: pre-line;
line-height: 1.5rem;
padding-left: .5rem;
text-align: left;
width: 300%;
}
.pricing-card button{
  width: 80%;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.pricing-card ul{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}
.pricing-card ul li{
  display: flex;
  align-items: center;

}
.checked::before{
  content: url(./images/checkmark-green.svg);
padding-right: 1rem;
}
.unchecked::before{
  content: url(./images/checkmark-grey.svg);
  padding-right: 1rem;
}
.contact{
  height: 180vh;
  
}
.contact-container{
  /* width: 80%; */
 background-color: rgb(30, 30, 58) ;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;

}
.contact-text{
  display: flex;
  justify-content: space-around;
  padding: 5rem;

}
.contact-message{
  color: white;
  display: flex;
  flex-direction: column;
 width: 50%;
  gap: 1.5rem;

}
.contact-message h2{
  font-size: 2.5rem;
  line-height: 3.5rem;
  
}
.map{
  height: 100%;
  width: 50%;

}
.map img{
  height: 100%;
  width: 100%;
}
.appointment{
  display: flex;
  width: 60%;
  min-height: 85vh;
 

}
.appointment img{
  /* width: 30%; */
  height: 100%;

}
form{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  padding: 2rem;



}
.inputs{
  display: flex;
flex-direction: column;
width: 100%;
gap: .5rem;


}
.inputs input, .inputs select{
  height: 2.5rem;
  padding-left: 1rem;
  background-color: #ececec;
  border-radius: .5rem;
  border: transparent;
}
.appointment button{
  width: 100%;
  /* margin-top: 2rem; */
  color: white;
}

footer{
  display: grid;
  grid-template-rows: 2fr 3fr 1fr;
  place-items: center;
}
.consulting{
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 2rem;
}

.links{
  display: flex;
  background-color: white;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}
.agency h3{
  padding-block: .5rem;
  

}
.agency p{
  color: grey;
}
.links div{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  gap: .5rem;
 
}
.links div ul li{
  color: grey;
  padding: .5rem;

}
.phone, .location, .mail{
  display: flex;
  align-items: center;
 padding-left: 5rem;

}
.phone::before{
  content: url(./images/call-outline.svg);
  width: 2rem;
  padding-right:.5rem;
 
}
.location::before{
  content: url(./images/location-outline.svg);
  width: 2rem;
  padding-right:.5rem;
}
.mail::before{
  content: url(./images/mail-outline.svg);
  width: 2rem;
  padding-right:.5rem;
}
.social-icon{
  height: 5vh;
  display: flex;
  gap: 1rem;

}
.figmaland{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
 @media screen and (max-width:450px) { 
  body{
    font-size: 10px;
  overflow-x: hidden;
  max-width: 100vw;
  
  }
  .one{
    min-height: 135vh;
    max-width: 100vw;

  }
  .header {
    min-height: 130vh;
    max-width: 100vw;
  }
  .navleft ul{
    display: none;
  }
  .button, .cards {
    flex-direction: column;
  }
  .hero-text h1{
    width: 80%;
  }
  .feature-cards{
    flex-direction: column;
    gap: 2rem;
  }
  .feature-card{
    width: 100%;
  }
  .feature{
    height: 80vh;

  }
  .industry{
    height: 220vh;
  }
  .industry-cards{
flex-direction: column;
  }
  .industry-card{
    width: 100%;
  }
  .subscribe{
    height: 150vh;
  }
  .logos{
    flex-direction: column;
    height: 80%;
    gap: 2rem;
    align-items: center;
  
  }
    .logos img{
      width: 80%;

    }
    .email{
      flex-direction: column;
      padding: 1rem;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
    }
    .email-input {
      flex-direction: column;
      width: 100%;
      background: transparent;
      gap: 1rem;
      border: none

    }
    .email-input input{
      padding: 1rem;
    }
    .pricing-cards{
      flex-direction: column;
      gap: 1.5rem;

    }
    .pricing{
      height: 250vh;
    }
    .contact-text{
      flex-direction: column;
      gap: 1rem;
    }
    .contact-message, .map{
      width: 100%;
    }
    .contact-container{
      width: 100%;
      align-items: center;
      grid-template-columns: 1fr;
    }
    .appointment img{
      display: none;
    }
    .appointment{
      width: 100%;
    }
    .inputs{
      width: 100%;
    }
    .consulting{
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
     
    }
    .links{
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
    }
    .figmaland{
      height: 1vh;
    
    }



  
 }